body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('../images/gradient.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulariodesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
   

}
.formulariodesc h1,h2{
    color: white;
    margin: 0;
    padding: 0;
    font-weight: bold;
    border-color: 1px black;
}
.formulariodesc h1{
    margin-bottom: 15px;
    font-size: 40px;
    font-family: helvetica, Arial, sans-serif;
    
}
.formulariodesc h2{
    font-family: helvetica, Arial, sans-serif;
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: center; 
    margin-top: 30px;
    width: 100%;
    max-width: 700px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    background-color: #d9ecef;
    border-radius: 3px;
    padding: 30px;
   
}
.formgroup{
    display: flex;
    flex-direction: column;
    width: 670px;
    box-sizing: border-box;    

}
.formgroup input{
    padding: 8px;
    margin-bottom: 18px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.form label{
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    font-family: Helvetica, arial,  sans-serif;
    
}
label{
    margin-bottom: 3px;
    cursor: default;
    
}
.form-radio-checkbox{
    display: flex;
    flex-direction: column;
    width: 670px;
    box-sizing: border-box;   
    margin-top: 10px;
}
.form-radio-checkbox label{ 
    display: flex;
    align-items: center;
    line-height: 2rem;
    align-items: center;   
    
}
.input-radio {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}
input, select, textarea{
    font-size: inherit;
    padding: 10px;
    resize: none;
}
.form-textarea{
    display: flex;
    flex-direction: column;
    width: 670px;
    box-sizing: border-box;   
    margin-top: 10px;
    
}
.form-textarea textarea{
    padding: 10px;
}
button{
    width: 100%;
    height: 50px;
    margin: 25px auto;
    border-radius: 3px;
    border: none;
    background-color: #213256;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.active:hover{
    background-color: #427eff;
    transition: background-color 0.5s ease;
}
#curriculo{
    margin-top: 12px;
}
footer{
    margin: 0;
    padding: 0;
    
}
.footermenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
   
    
}

.icons{
   display: flex;
   align-items: center;
    
}

.icons img {
    width: 48px;
    height: 48px;
    padding: 0;
   
}
#github {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-right: 10px;
}

.autordesc p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}
footer .container{
    margin-top: 10px;
}


/* Estilos gerais aqui */

/* Media query para telas com largura máxima de 700px */
@media screen and (max-width: 700px) {
    body {
        background-size: cover; /* Ajusta o tamanho do plano de fundo */
    }

    .container, .form {
        width: 100%; /* Preencher a largura da tela */
        padding: 20px; /* Adicionar espaçamento interno */
    }

    .icons img {
        width: 40px; /* Ajusta o tamanho dos ícones de redes sociais */
        height: 40px;
    }

    .autordesc p {
        font-size: 14px; /* Ajusta o tamanho da fonte do autor */
    }

    .formgroup, .form-radio-checkbox, .form-textarea {
        width: 100%; /* Ajusta a largura dos elementos do formulário */
    }

    .formgroup input {
        margin-bottom: 12px; /* Reduz o espaçamento entre os campos do formulário */
    }

    .formulariodesc {
        align-items: center; /* Alinha o conteúdo ao centro */
        text-align: center; /* Centraliza o texto no centro */
    }
}

/* Media query para telas com largura máxima de 425px */
@media screen and (max-width: 425px) {
    .icons img {
        width: 40px; /* Reduz o tamanho dos ícones das redes sociais */
        height: 40px;
    }

    .autordesc p {
        font-size: 12px; /* Reduz o tamanho da fonte do autor */
    }

    .form label {
        font-size: 0.9rem; /* Reduz o tamanho da fonte dos rótulos */
    }

    .formgroup input, .form-textarea textarea {
        padding: 6px; /* Reduz o padding interno nos campos do formulário */
    }
}
